{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Estate sale - Real Estate Category Bootstrap Responsive Website Template - Property single : W3layouts</title>

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
</head>

<body>
  {% if user.is_authenticated %}

  <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke px-0">
            <h1> <a class="navbar-brand" href="index.html">
                    <span class="fa fa-home"></span> Estate sale
                </a></h1>
<button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
      <span class="navbar-toggler-icon fa icon-close fa-times"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-lg-5 mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown @@listing__active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Listings <span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item @@ps__active" href="listing.html">Properties</a>
                        <a class="dropdown-item @@ps__active" href="listland.html">Lands</a>
                    </div>
                </li>
                <li class="nav-item dropdown @@property__active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Property <span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item @@ps__active" href="property-single.html">Single property</a> -->
                        <a class="dropdown-item @@ps__active" href="{{user.id}}/myproperty">My Properties</a>
                        <a class="dropdown-item @@ps__active" href="{{user.id}}/update">Edit Property</a>
                        <a class="dropdown-item @@ps__active" href="{{user.id}}/delete">Delete Property</a>
                    </div>
                </li>
                <li class="nav-item dropdown @@property__active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Land <span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item @@ps__active" href="{{user.id}}/myland">My Land</a>
                        <a class="dropdown-item @@ps__active" href="{{user.id}}/updateland">Edit Land</a>
                    </div>
                </li>
                {% else %}
                {% endif %}
                <li class="nav-item dropdown @@pages__active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages <span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item @@about__active" href="about.html">About us</a>
                        <a class="dropdown-item @@contact__active" href="contact.html">Contact us</a>
                    </div>
                </li>

                <li class="nav-item dropdown @@pages__active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user fa-xl"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                        <p class="dropdown-item" style="color: antiquewhite;">Hi, {{user.first_name}}</p>
                        <a class="dropdown-item" href="buyer.html">Be a Buyer</a> 
                        <a class="dropdown-item @@ps__active" href="{{user.id}}/mybuyer">My Profile</a>
                        <a class="dropdown-item" href="{{user.id}}/updateprofile">Update Profile</a>
                        <a class="dropdown-item" href="{{user.id}}/deleteprofile">Delete Profile</a>
                        <a class="dropdown-item" href="accounts/logout">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="accounts/register">Register</a>
                        <a class="dropdown-item" href="accounts/login">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <div class="top-quote mt-lg-0">
                <a href="addproperty.html" class="btn btn-style btn-primary"><span class="fa fa-home"></span> Add Property</a>
            </div><br>
            <div class="top-quote mt-lg-0">
                <a href="addland.html" class="btn btn-style btn-primary"><span class="fa fa-home"></span> Add Land</a>
            </div>
        </div>
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
        </nav>
        </div>
</header>
  <!--/header-->
  <section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
      <div class="container pt-lg-5 py-3">
      </div>
    </div>
  </section>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Property</li>
        <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> property single</li>
      </ul>
    </div>
  </section>
  <!--/blog-post-->
  <section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
      <div class="post-content">
        <h2 class="title-single">{{data.title}}</h2>
      </div>
      <div class="blo-singl mb-4">
        <ul class="blog-single-author-date align-items-center">
          <li>
            <p>{{data.house_no}}, {{data.society}}, {{data.locality}}, {{data.city}}</p>
          </li>
          <li><span class="fa fa-bed"></span> {{data.bedrooms}} Beds</li>
          <li><span class="fa fa-bath"></span> {{data.bathrooms}} Baths</li>
          <li><span class="fa fa-share-square-o"></span> {{data.area}} sqft</li>
        </ul>
        <ul class="share-post">
          <a href="#url" class="cost-estate m-o">₹{{data.price}}</a>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-8 w3l-news">
          <div class="blog-single-post">
            <div class="single-post-image mb-5">
              <div class="owl-blog owl-carousel owl-theme">
                <div class="item">
                  <div class="card">
                    <img src="{{baseUrl}}/{{data.img}}" class="img-fluid radius-image" alt="image">
                  </div>
                </div>
              </div>
            </div>

            <div class="single-post-content">
              <h3 class="post-content-title mb-3">Description</h3>
              <p class="mb-4">{{data.desc}}</p>
              <div class="single-bg-white">
                <h3 class="post-content-title mb-4">Property detail</h3>
                <ul class="details-list">
                  <li><strong>Property id :</strong> {{data.id}} </li>
                  <li><strong>Property size :</strong> {{data.area}} sqft </li>
                  <li><strong>Bedrooms :</strong> {{data.bedrooms}} </li>
                  <li><strong>Bathrooms :</strong> {{data.bathrooms}} </li>
                  <li><strong>Price :</strong> ₹ {{data.price}} </li>
                  <li><strong>Property Age :</strong> {{data.age}} yrs</li>
                  <li><strong>Contact Number :</strong> {{data.contactno}} </li>
                  <!-- <li><strong>Avaiable from :</strong> Aug 2019 </li> -->
                </ul>
              </div>
            </div>

            <div class="single-bg-white">
              <h3 class="post-content-title mb-4">Location</h3>
              <div class="agent-map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
                  frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//blog-posts-->
  <!-- footers 20 -->
  <section class="w3l-footers-20">
    <div class="footers20">
      <div class="container">
        <div class="footers20-content">
          <div class="column mt-lg-0 mt-md-5" style="text-align: center;">
              <ul class="footers-17_social">
                <h4 class="d-inline mr-4">Follow us</h4>
                <li><a href="https://twitter.com/AyushPa29191085" class="twitter"><span class="fa fa-twitter"></span></a></li>
                <!-- <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li> -->
                <li><a href="https://www.linkedin.com/in/ayush-patel-53b809204/" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.instagram.com/ayushhh.patel" class="instagram"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          <div class="d-grid grid-col-3 grids-content1 bottom-border">
            <div class="columns copyright-grid align-self">
              <p class="copy-footer-29">© 2020 Estate sale. All rights reserved | Designed by <a
                  href="https://w3layouts.com">W3layouts</a> | Developed by <a href="https://ayushhpatel.github.io/ayushh.github.io/">
                      Ayush
                  </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>

  <!-- jQuery and Bootstrap JS -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/e493611524.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/theme-change.js' %}"></script><!-- theme switch js (light and dark)-->

  <!-- stats number counter-->
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.countup.js' %}"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!-- owlcarousel -->
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <!-- script for blog post slider -->
  <script>
    $(document).ready(function () {
      $('.owl-blog').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: true
          },
          480: {
            items: 1,
            nav: true
          },
          700: {
            items: 1,
            nav: true
          },
          1090: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for blog post slider -->

  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->

  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.popup-with-zoom-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-zoom-in'
      });

      $('.popup-with-move-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-slide-bottom'
      });
    });
  </script>

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!-- MENU-JS -->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!-- //MENU-JS -->

  <!-- bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% else %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
<div class="alert alert-warning d-flex align-items-center" role="alert">
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
<a href="accounts/login" class="alert-link">Login</a> &nbsp; to avail Functionality!
</div>
{% endif %}
</body>
</html>